h1{
  font-family: 'Merriweather', serif;
  color: #190942;
}
body{
  text-align: center;
  margin: 20px 80px 20px 80px;
  padding: 2px solid black;
  
}
p{
  font-family: 'Open Sans Condensed', sans-serif;
}
